<p id="notice"><%= notice %></p>

<h1>Audiotracks <%= current_user.name if current_user %></h1>

    <% if @audiotracks.blank? %>
      <h2>No music created </h2>
      <br/><br/>
    <% end %>

    <% @audiotracks.each do |audiotrack| %>
      <tr>
        <%= link_to (image_tag audiotrack.image_url(:thumb)), audiotrack %>
      </tr>
    <% end %>
<br>

<%= link_to 'New Music', new_audiotrack_path if logged_in?(:site_admin)%>
